---
import { Footnote } from "../components/Footnote";
import fitsData from "../data/fits.json";
import Status from "../components/Status.astro";
import { FitsCarousel } from "../components/views/FitsCarousel";
import DetailLayout from "../layouts/DetailLayout.astro";
import { FeedCard } from "../components/FeedCard";
import type { Fit } from "../components/views/Fits";
import "../styles/feed.scss";
import { getCollection } from "astro:content";
import { EventsCarousel } from "../components/views/EventsView";

const LayoutProps = {
  title: "(feed)",
  description: "all my digital debris...",
  date: "2024-12-28",
  image: "/feed.png",
  metaTitle: "feed",
  emojis: [],
  titleClass: "uniform",
};

const sortedFits = (fitsData.fits as Fit[]).sort(
  (a, b) => b.timestamp - a.timestamp
);
// const sortedPosts = getCollection("posts").sort(
//   (a, b) => b.pubDate.getTime() - a.pubDate.getTime()
// );
// const lastPost = sortedPosts[0];

const creations = await getCollection("creation");

const events = creations
  .filter((creation) => creation.data.isEvent)
  .sort((a, b) =>
    a.data.forthcoming === b.data.forthcoming
      ? new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
      : a.data.forthcoming
        ? -1
        : 1
  );
// const press = creations.filter(
//   (creation) => creation.parentCategory === "Press"
// );
// const sortedCreations = creations
//   .filter((creation) => !creation.data.isEvent)
//   .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<DetailLayout {...LayoutProps} columns={1}>
  <div>all my digital debris</div>

  <div class="gridContainer">
    <!-- post -->
    <!-- <FeedCard title="WRITING" icon="📰" client:only="react"> -->
    <!-- <PostsCarousel posts={sortedPosts} client:only="react" /> -->
    <!-- </FeedCard> -->
    <!-- <FeedCard
      title="CREATIONS"
      icon="🪄"
      client:only="react"
      allLink="/creation"
    >
      <CreationsCarousel creations={sortedCreations} client:only="react" />
    </FeedCard> -->
    <!-- creation -->
    <!-- experiments -->

    <!-- <FeedCard title="PRESS" icon="📰" allLink="/press" client:only="react">
      <PressCarousel press={press} client:only="react" />
    </FeedCard> -->

    <FeedCard
      title="HAPPENINGS"
      icon="🤳"
      allLink="/events"
      client:only="react"
    >
      <EventsCarousel events={events} client:only="react" />
    </FeedCard>
    <FeedCard title="FITS" icon="👔" allLink="/fits" client:only="react">
      <FitsCarousel fits={sortedFits} client:only="react" />
    </FeedCard>
    <Status />
    <!-- Location -->
    <!-- social media posts across bluesky, instagram, twitter? -->
    <!-- last video? -->
  </div>
</DetailLayout>
