---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import { marked } from 'marked';
import {CreationDetailImages} from '../components/CreationDetailImages';
import {ImageZoom} from '../components/ImageZoom';

import './CreationDetail.scss'
import BaseLayout from './BaseLayout.astro';

type Props = CollectionEntry<'collection'>['data'];

const { title, descriptionMd, date, subtext, heroImage, media, link, shouldIframe, movieUrl, materials} = Astro.props;
const descriptionParsed = marked.parse(descriptionMd.replaceAll('\n', '\n\n'), {breaks: true, gfm: true});
---

<BaseLayout title={title} description={subtext} image={heroImage}>
	<main class="creationDetail">
		<article>
			<div class="content">
			<div class="prose">
				<div class="header">
					<div class="date">
						{date && <FormattedDate date={date} />}
					</div>
					<h2>
					<a href={link}>{title}</a>
					</h2>
					<i >{subtext}</i>
					{materials && <i class="meta" >Materials: {materials}</i>}
				</div>
				<p set:html={descriptionParsed}></p>
				<slot />
			</div>
			<div>
			{shouldIframe ? <div class="iframeWrapper">
				<iframe src={link}></iframe>
				<div>window into <a href={link}>{link}</a></div>
			</div> : <div class="hero-image">
				{movieUrl ? <video controls autoplay loop>
					<source src={movieUrl} type="video/webm" />
				</video>  : <ImageZoom client:only="react" src={heroImage} />}
			</div>}
			<CreationDetailImages images={media.slice(movieUrl ? 0 : 1, media.length)} client:only="react"></CreationDetailImages>
			<div >
			</div>
			</div>
			</div>
		</article>
	</main>
</BaseLayout>
