---
import Marquee from '../components/Marquee.astro';
import PersonalEmoji from '../components/PersonalEmoji.astro';
import BaseLayout, { type BaseLayoutProps } from './BaseLayout.astro';

interface Props extends BaseLayoutProps {
    title?: string;
    emojis?: string[];
    titleClass?: string;
    metaTitle?: string;
}

const {title, emojis, titleClass, metaTitle} = Astro.props;
---

<BaseLayout includeMarquee={true} {...{...Astro.props, title: metaTitle || title}} >
<div class="headerContainer textContent">
  <h1 class={titleClass}>{title} <PersonalEmoji hideWee={true} inline={true} emojis={emojis}/></h1>
</div>
<div class="two-columns">
  <slot/>
</div>
</BaseLayout>
