---
import PersonalEmoji from "../components/PersonalEmoji.astro";
import BaseLayout, { type BaseLayoutProps } from "./BaseLayout.astro";

interface Props extends BaseLayoutProps {
  title?: string;
  emojis?: string[];
  titleClass?: string;
  metaTitle?: string;
  columns?: number;
}

const { title, emojis, titleClass, metaTitle, columns = 2 } = Astro.props;
---

<BaseLayout {...{ ...Astro.props, title: metaTitle || title }}>
  <div class="headerContainer textContent">
    <h1 class={titleClass}>
      {title}
      <PersonalEmoji hideWee={true} inline={true} emojis={emojis} />
    </h1>
  </div>
  <div class={`${columns === 2 ? "two-columns" : "one-column"}`}>
    <slot />
  </div>
</BaseLayout>
